{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<!DOCTYPE html>
<html>
    <head>
        <title>Petite annonce</title>
    </head>
    <body>
        <h1>Annonce</h1>
        <p>Name: {{data.name}}</p>
        <p>Email: {{data.email}}</p>
        <p>Address: {{data.address}}</p>
        <p>Phone: {{data.phone}}</p>
        <p>Texte: {{data.text}}</p>
    </body>
</html>
{% endblock %}
